adium-theme-ubuntu==0.3.4
cryptography==1.7.1
Django==1.10
enum34==1.1.6
idna==2.2
ipaddress==1.0.17
keyring==10.3.1
keyrings.alt==2.2
mysql-connector-python==2.1.5
mysql-utilities==1.6.4
paramiko==2.0.0
pexpect==4.2.1
ptyprocess==0.5.1
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
pyodbc==3.0.10
pysqlite==2.7.0
pyxdg==0.25
SecretStorage==2.3.1
six==1.10.0
unity-lens-photos==1.0
