<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
  </head>

<!-- define angular controller -->
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Angular Routing Example</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a></li>
            </ul>
        </div>
    </nav>

    <div id="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer class="text-center">
        <di class="row">
            <p>View the tutorial on <a href="#">Scotch.io</a></p>
        </di>
    </footer>
</body>
</html>