{% extends 'layouts/base.html' %}

{% block content %}
    <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>content</th>
                            <th>timestamp</th>
                            <th>update</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <th>{{ post.id }}</th>
                                <th>{{ post.title }}</th>
                                <th>{{ post.content }}</th>
                                <th>{{ post.timestamp }}</th>
                                <th>{{ post.updated }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
{% endblock %}